body {
    background-color: aqua
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

body {
    background-color: blanchedalmond
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

..header  {
    height: 90px;
    margin: 0;
    background : #NNNNNN; 
}

 .Bandeau {
            
            background-color: #007bff;
            color: rebeccapurple;
            padding: 100x;
            text-align: center;
        }


.navbar a:hover {
  color: #ffffff;
}

