head {
  text-align: center;
}

h2 {
  color: black red;	
}

body {
  text-align: center;
  font-family: Arial;
  margin: auto;
  max-width: 1280px;
  background-image: url(https://alexblog.fr/wp-content/uploads/2020/05/gaming-together.jpeg);
}

.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}
