header{
 
  text-align:left;

}

body {
  font-family: sans-serif;
  text-align: center;
  background-image: url(https://wallpapercave.com/wp/wp9019618.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 15rem ;
  
}

.Titre {
  color: rgb(255, 251, 40);
  text-align: center;
  
}

.click button {
  border-radius: 30px;
  border-color: rgb(79, 0, 71);
  border-width: 5px;
  color: rgb(87, 255, 255);
  background-color: #640096;
  display: inline-block;
  font-size: 35px;
  padding: 10px;
  text-decoration: none;
  margin-top: 10rem;
  margin-bottom: 2rem ;
}

.click button:hover{
  color: rgb(255, 30, 30);
}

.reinitialiser button{
  border-radius: 30px;
  border-color: rgb(79, 0, 71);
  border-width: 5px;
  margin: 2rem ;
  font-size: 35px;
  padding: 10px;
  background-color: rgb(115, 41, 235);
  color: rgb(0, 255, 255);
}
.reinitialiser button:hover{
  color: rgb(255, 30, 30);
}

.ConteurAffiche{
  color:  rgb(255, 251, 40);
  font-size: 35px;
}

.retour button {
 
  font-size: 35px;
  padding: 10px;
  background-color: rgb(166, 135, 216);
  color: rgb(255, 255, 255);
  border-radius: 30px;
  border-color: rgb(79, 0, 71);
  border-width: 5px;
  
}

.retour button:hover{
  color: rgb(30, 30, 255);
}
