body {
    font-family: Arial, sans-serif;
    margin: 20px;
   
  }

  .Sommaire{
    background-color: #0c6bf0;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }

  .Sommaire p{
    font-size: 18px;
    font-weight: bold;
  }
  
  .Sommaire ol{
    list-style-type: decimal;
    margin: 10px ;
  }
  .Tp{
    margin-bottom: 30px;
  }

  .Tp p{
    font-size: 20px;
    font-weight: bold;
  }

  .Tp a{
    color:black;

  }

  h1{
    font-size: 30px;
  }

  h2{
    font-size: 20px;
    text-decoration: underline;
  }
  #dowloadLink{
    margin-top: 10px;

    color:#0066cc;
    border-radius: 5px;
    text-decoration: none;
  }
  

  #dowloadlink:hover{
    background-color: #004080;
  }
.Retour {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    border-radius: 20px;
}

.Retour button{
    border-radius: 30px;
    font-size: 16px;
    background-color: black;
    color: white;
}

