body {
    font-family: sans-serif;
    margin: auto;
    max-width: 500px;
    background-color: #e1640a;
    
  }

  .navbar {
    background-color: #ee951f;
    border-radius: 100px;
    max-width: 800px;
  }

  .navbar a {
    color: #000000;
    display: inline-block;
    margin: auto;
    font-size: 15px;
    padding: 10px;
  }
  
  .navbar a:hover {
    color: hsl(0, 81%, 51%);
  }

  .title {
    text-align: center  ;
    color: #dd090d;
  }

  .bouton {
    position: fixed;
    bottom: 65%;
    right: 50%;
  }

  .bouton button {
    background-color: #f4f819;
    border-radius: 10px;
  }


  